@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font: 1.8rem/1.2 "Poppins", sans-serif;
  background-image: url('images/school-supplies.jpg');
}

/* CSS Reset =========================== */
body, nav, section, footer, article, h1, h2, h3, h4, p, a, ol, ul, li, button, fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

h2 {
  font-size: 4.6rem;
  color: whitesmoke;
}

h3 {
  font-size: 3.6rem;
  color: whitesmoke;
}

label {
  font-size: 3rem;
  color: whitesmoke;
}

button {
  font-size: 3rem;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 2rem;
}

a {
  font-size: 2.4rem;
  color: whitesmoke;
  margin-top: 3rem;
}